[client]
port            = 3306
socket          = /tmp/mysql.sock

[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
skip-external-locking
log-error=/data/server/mysql/log/error.log
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
secure_file_priv=''
log-bin=mysql-bin
binlog_format=mixed
server-id       = 1
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

####################
sort_buffer_size = 16M
join_buffer_size = 16M
key_buffer_size = 15M
max_allowed_packet = 256M
table_open_cache = 1024
table_open_cache_instances = 32
open_files_limit = 65535

thread_stack = 256K
thread_cache_size = 384
query_cache_limit = 10M 
query_cache_size = 64M  

##########################
# time out
##########################
connect_timeout = 20
wait_timeout = 100
interactive_timeout = 300

##########################
# connection
##########################
max_connections = 2020
max_user_connections = 1900
max_connect_errors = 100000
max_allowed_packet = 1G

##########################
# innodb
##########################
#innodb_buffer_pool_size=40G
innodb_buffer_pool_size=4G
innodb_buffer_pool_instances=64

innodb_adaptive_flushing=on
innodb_file_per_table=1
innodb_log_file_size=1024M
innodb_log_buffer_size=64M
max_prepared_stmt_count=150000
innodb_flush_log_at_trx_commit=1
innodb_max_dirty_pages_pct=50

innodb_status_file = 1
innodb_open_files = 4096
innodb_write_io_threads = 10
innodb_read_io_threads = 10

##########################
# log slow
##########################
slow_query_log = on
slow_query_log_file = /data/server/mysql/log/mysqld_slow.log
long_query_time = 20
log_queries_not_using_indexes = on

explicit_defaults_for_timestamp=true
[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
